Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/WorldManagement/Maps/Persistant/SingleMapTest_P_BuiltData.uasset
Content/WorldManagement/Maps/Persistant/SingleMapTest_P_BuiltData.uasset
*_BuiltData.uasset
